<div class="container-input">
  <form #formDate="ngForm" (ngSubmit)="onSave(formDate.value)">
    <input
      required
      type="text"
      placeholder="Name Event"
      name="tittle"
      ngModel
    />
    <input required type="date" placeholder="" name="date" ngModel />
    <button type="submit" [disabled]="formDate.invalid">Save</button>
  </form>
</div>
<div class="container-card">
  <ng-container *ngFor="let event of arrEvents; let i = index">
    <app-card
      class="card"
      [dataEvent]="event"
      (deleteNdx)="onDelete(i)"
    ></app-card>
  </ng-container>
</div>
